/* Estilo do cabeçalho */
.cabecalho {
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 30px;
    text-align: center;
    height: 230px;

}

.cabecalho .navbar .logo {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 150px; /* Ajuste a altura conforme necessário */
    width: 150px; /* Ajuste a largura conforme necessário */
    margin-top: 30px; /* Adiciona um espaço em branco acima da logo */
    border-radius: 1000px; /* Transforma a logo em um círculo */
    background-color: antiquewhite; /* Cor de fundo */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.cabecalho .navbar .logo img {
    height: 444px; /* Ajuste a altura conforme necessário */
    width: 561px; /* Ajuste a largura conforme necessário */
    max-width: 100%; /* Ajusta a largura máxima da imagem */
    max-height: 100%; /* Ajusta a altura máxima da imagem */
    display: block; /* Alterado de flex para block */
    margin: auto; /* Centraliza horizontalmente */
}

/* Estilo do menu de navegação */
.navbar {
    display: flex;
    justify-content: space-between; /* Distribui espaço entre os elementos */
    align-items: center; /* Alinha verticalmente */
    padding: 15px;
}

/* Estilo dos itens do menu */
.item-menu ul {
    list-style-type: none;
    background-color: #3c1404;
    font-size: 20px;
    margin: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    left: 0;
    top: 200px; /* Posiciona o menu abaixo do cabeçalho */
}

.item-menu ul li {
    display: inline;
    margin-right: 20px;
}

.item-menu ul li:last-child {
    margin-right: 0; /* Remove a margem do último item do menu */
}

.item-menu ul li a {
    text-decoration: none;
    color: white;
}

.item-menu ul li a:hover {
    color: #fd7709;
    background-color: rgba(255, 255, 255, 0.1); /* Adiciona um fundo ao passar o mouse */
}
