.navbar {
    display: flex;
    justify-content: space-between; /* Distribui espaço entre os elementos */
    align-items: center; /* Alinha verticalmente */
    padding: 15px;
}

.item-menu {
    margin-left: auto; /* Move os itens do menu para a direita */
}

.item-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.item-menu ul li {
    display: inline;
    margin-right: 20px;
}

.item-menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border-color: aliceblue;
}

.item-menu ul li a:hover {
    color: #fd7709;
}
