/* Estilos gerais para o corpo do documento */
body {
    font-family: Arial, sans-serif; /* Fonte padrão para todo o documento */
}

/* Estilos para o cabeçalho */
.cabecalho {
    background-image: url('/midia/bordaPizza.jpg'); /* Imagem de fundo */
    background-size: cover; /* Cobrir todo o cabeçalho */
    background-position: center bottom; /* Posição da imagem */
    color: #fff; /* Cor do texto */
    padding: 39px; /* Espaçamento interno */
    text-align: left; /* Alinhamento do texto */
}

/* Estilos para a navegação do menu */
.menu-navegacao {
    background-color: #333; /* Cor de fundo */
    padding: 10px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
}

.menu-navegacao ul {
    list-style-type: none; /* Remover marcadores de lista */
    margin: 0; /* Remover margem */
    padding: 0; /* Remover preenchimento */
}

.menu-navegacao ul li {
    display: inline; /* Exibir itens em linha */
    margin-right: 20px; /* Margem à direita entre itens */
    color: #fff; /* Cor do texto */
}

.menu-navegacao ul li:last-child {
    margin-right: 0; /* Remover margem à direita do último item */
}

.menu-navegacao ul li a {
    text-decoration: none; /* Remover decoração de link */
    color: #fff; /* Cor do link */
}

.menu-navegacao ul li a:hover {
    color: #ff494b; /* Cor do link quando o mouse passa por cima */
}

/* Estilos para o cardápio */
.cardapio {
    background-color: #f0f0f0; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    font-family: Arial, sans-serif; /* Fonte */
}

/* Estilos para a linha horizontal */
hr {
    border: 0; /* Remover borda */
    height: 2px; /* Altura da linha */
    background-color: #333; /* Cor da linha */
    margin-top: 20px; /* Espaçamento superior */
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilos para os itens do cardápio */
.item-cardapio {
    display: inline-block; /* Exibir como bloco em linha */
    width: calc(50% - 100px); /* Largura dos blocos */
    border: 1px solid #ccc; /* Borda */
    padding: 20px; /* Espaçamento interno */
    margin: 10px; /* Margem entre os itens */
    background-color: #f9f9f9; /* Cor de fundo */
}

.item-cardapio img {
    max-width: 100%; /* Largura máxima da imagem */
    margin-bottom: 10px; /* Espaçamento abaixo da imagem */
    border-radius: 33px; /* Borda arredondada */
}

.item-cardapio h3 {
    margin-top: 20px; /* Espaçamento superior */
    padding: 5px; /* Preenchimento */
}

.item-cardapio h4 {
    margin-top: 0; /* Espaçamento superior */
    margin-bottom: 5px; /* Espaçamento inferior */
}

.item-cardapio p {
    margin: 0; /* Remover margem */
}

/* Estilos para a seção de promoções */
.promocoes {
    background-color: #ffd700; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    font-family: Arial, sans-serif; /* Fonte */
}

/* Estilos para o rodapé */
footer {
    background-color: #333; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    font-family: Arial, sans-serif; /* Fonte */
}
